h1{
    background-color: rgb(197, 127, 243);
    color: blueviolet;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}
h2{
    text-align: center;
    color: blueviolet;
    margin-top: 20px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

#pozaMea{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size: small;
}
h4{
    text-align: center;
    color: gray;
    font-size: 300%;
    opacity: 50%;
    margin-top: auto;
}
h5{
    font-family: 'Open Sans', sans-serif;
    color: blueviolet;
    background-color: rgb(243, 213, 243);
    font-size: 25px;
    margin: 0%;
    text-align: center;
}

#icon{
    width: 70px;
    height: auto;
}

h5{
    font-size: medium;
    padding-bottom: 100px;
}
h6{
    font-size: 35px;
    color: blueviolet;
    text-align: center;
    margin-top: auto;
}

.contact{
    background-color: rgb(197, 127, 243);
    color: blueviolet;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}